.mainDiv{
    margin:2% auto;
    width: max-width;
} 
.extraButtonsDiv{
margin:2% auto;
button{
    margin:2% auto;
    margin-left:5%;
    margin-right:5%;
    }
}

.buttonDiv{
padding:auto;
width: max-width;
margin: 2% auto;
margin-bottom:2%;
margin-right:2%;
margin-top:2%;
    button{
        margin:1%;
    }
}
.backgroundColorPrimaryComplement{
background-color:#32b909;
}
.backgroundColorPrimary{
background-color:#673ab7;
}
.backgroundColorWarn{
background-color:#f44336;
}
mat-button-toggle-group {
margin: 2% auto;

}
.center{
    margin: 0% auto;
    display: flex;
    justify-content: center;    
  }

