<div class="d-flex flex-column">
  <div class="d-flex flex-row flex-wrap justify-content-evenly">
    <div class="d-flex flex-row justify-content-center mt-2"
         *ngFor="let btnValue of availableButtonValuesUnitl17"
    >
      <div class="d-flex flex-column no-pointer">
        <a mat-raised-button
           class="ms-1 justify-content-center fs-3 {{isClosed(btnValue)? gray : ''}}"
        >{{ getBadgeCountValue(btnValue) }}
        </a>
        <a class="ms-2 mt-2 {{isScorable(btnValue)? '' : border}} {{isClosed(btnValue)? gray : ''}}" mat-fab
           color="primary"
        >{{ btnValue }}
        </a>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center mt-2"
    >
      <div class="d-flex flex-column no-pointer">
        <a mat-raised-button class="ms-1 justify-content-center fs-3 {{isClosed(25)? gray : ''}}"
        >{{ getBadgeCountValue(25) }}
        </a>
        <a class="ms-2 mt-2 {{this.isScorable(25)? '' : border}} {{isClosed(25)? gray : ''}}" mat-fab
           color="primary"
        >
          <span class="mt-2 material-symbols-outlined">trip_origin</span>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-evenly">
    <div class="d-flex flex-row justify-content-center mt-2"
         *ngFor="let btnValue of availableButtonValuesUnitl20"
    >
      <div class="d-flex flex-column no-pointer">
        <a mat-raised-button
           class="ms-1 justify-content-center fs-3 {{isClosed(btnValue)? gray : ''}}"
        >{{ getBadgeCountValue(btnValue) }}
        </a>
        <a class="ms-2 mt-2  {{this.isScorable(btnValue)? '' : border}}  {{isClosed(btnValue)? gray : ''}}"
           color="primary"
           mat-fab
        >{{ btnValue }}
        </a>
      </div>

    </div>
    <div class="d-flex flex-row justify-content-center mt-2"
    >
      <div class="d-flex flex-column no-pointer">
        <a mat-raised-button
           class="ms-1 justify-content-center fs-3  {{isClosed(25)? gray : ''}}"
        >{{ getBadgeCountValue(25) }}
        </a>
        <a class="ms-2 mt-2 {{this.isScorable(25)? '' : border}}  {{isClosed(25)? gray : ''}}" mat-fab
           color="primary"
        >
          <span class="mt-2 material-symbols-outlined">target</span>
        </a>
      </div>
    </div>
  </div>
</div>
