<div class="d-flex" *ngIf="(playerService._players.length < 4)">
  <mat-card *ngFor="let player of playerService._players" class="m-1">
    <mat-card-subtitle>last: {{player.lastScore}}</mat-card-subtitle>
    <mat-card-title>{{player.remainingPoints}}</mat-card-title>
    {{player.name}}
  </mat-card>
</div>
<!-- TO DO: immer den currentPlayer als erstes anzeigen on switchPlayer reloadList of matcards-->
<div class="d-flex" *ngIf="(playerService._players.length > 4)">
  <div *ngFor="let player of playerService._players ;let i=index">
    <div *ngIf="i<4">
      <mat-card class="m-1">
        <mat-card-subtitle>last: {{player.lastScore}}</mat-card-subtitle>
        <mat-card-title>{{player.remainingPoints}}</mat-card-title>
        {{player.name}}
      </mat-card>
    </div>
    <div *ngIf="i == 4">
      <mat-card (click)="showAllPlayers()" class="m-1">
        <mat-card-subtitle>All Players</mat-card-subtitle>
        <mat-card-title>...</mat-card-title>
      </mat-card>
    </div>
  </div>
</div>