<div class="container-sm">

  <div class="d-flex justify-content-center mt-3">
    <button mat-flat-button color="primary" (click)="reduceBull(25)">Bull</button>
    <button mat-flat-button color="primary" class="ms-3" (click)="reduceBullsEye(50)">BullsEye</button>
    <button mat-flat-button color="primary" class="ms-3" (click)="reduceDartCounter()">Miss</button>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <mat-button-toggle-group (change)="onChange($event.value)">
      <mat-button-toggle (click)="onClick(1)" value="1">Single</mat-button-toggle>
      <mat-button-toggle (click)="onClick(2)" value="2">Double</mat-button-toggle>
      <mat-button-toggle (click)="onClick(3)" value="3">Triple</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="d-flex flex-wrap">
    <div class="w-20 mt-3 d-flex justify-content-center" *ngFor="let unused of twentyButtons; let i = index">
      <button mat-fab
              [disabled]="isButtonDisabled"
              [ngStyle]="{'background-color' : dynamicColor}"
              (click)="reduceCountByPoints(i + 1)">
        {{i + 1}}
      </button>
    </div>
  </div>

</div>
