.w-20 {
  width: 20%;
}

.bgColorPrimary {
  background-color: #673ab7;
}

.bgColorPrimaryComplement {
  background-color: #32b909;
}

.bgColorWarn {
  background-color: #f44336;
}

/*
 * Customize the color of the mat-buttons
 */
.mat-button-toggle-checked {
  &#mat-button-toggle-1 {
    background-color: #32b909aa;
  }

  &#mat-button-toggle-2 {
    background-color: #673ab7aa;
  }

  &#mat-button-toggle-3 {
    background-color: #f44336aa;
  }
}
