<div [hidden]="this.dartService._hideAll" class="container-fluid">

  <div class="d-flex justify-content-center mt-3 toggle-btn-scale">
    <mat-button-toggle-group value="1" [formControl]="multiplierControl" (change)="changeButtonColor($event)"
                             [hideSingleSelectionIndicator]="true">
      <mat-button-toggle #singelToggel value="1">Single</mat-button-toggle>
      <mat-button-toggle value="2">Double</mat-button-toggle>
      <mat-button-toggle value="3">Triple</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="d-flex justify-content-center multiplier-btn-scale pb-3">
    <button
      class="m-auto"
      mat-flat-button color="primary"
      matRipple [matRippleColor]="customRipple.rippleColor" [matRippleRadius]="customRipple.rippleRadius"
      [matBadge]="this.badgeHandleService.bullBadgeCount" [matBadgeHidden]="this.badgeHandleService.matBadgeHiddenBull"
      matBadgeColor="accent"
      (click)="scoreBull()"
      appShapeMorph>
      Bull
    </button>
    <button
      class="m-auto" mat-flat-button color="accent"
      matRipple [matRippleColor]="customRipple.rippleColor" [matRippleRadius]="customRipple.rippleRadius"
      [matBadge]="this.badgeHandleService.bullsEyeBadgeCount"
      [matBadgeHidden]="this.badgeHandleService.matBadgeHiddenBullsEye"
      matBadgeColor="accent"
      (click)="scoreBullsEye()"
      appShapeMorph>
      BullsEye
    </button>
    <button
      class="m-auto" mat-flat-button color="warn"
      matRipple [matRippleColor]="customRipple.rippleColor" [matRippleRadius]="customRipple.rippleRadius"
      [matBadge]="this.badgeHandleService.missBadgeCount" [matBadgeHidden]="this.badgeHandleService.matBadgeHiddenMiss"
      matBadgeColor="accent"
      (click)="scoreMiss()"
      appShapeMorph>
      Miss
    </button>
  </div>

  <div class="d-flex flex-wrap py-2 px-2">
    <div class="w-20-percent mt-3 d-flex justify-content-center btn-scale"
         *ngFor="let inputButton of this.badgeHandleService.twentyButtons">
      <button matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
              [matRippleCentered]="true"
              [matRippleRadius]="customRipple.rippleRadius" mat-fab [color]="buttonColor"
              [matBadge]="inputButton.badgeValue" [matBadgeHidden]="inputButton.badge"
              matBadgeColor="accent"
              (click)="scoreWithMultiplier(inputButton, singelToggel)"
              appShapeMorph>
        {{ inputButton.zahl }}
      </button>
    </div>
  </div>

</div>
