.w-20-percent {
  width: 20%;
}

.multiplier-btn-scale {
  button {
    transform: scale(1.4);
  }

  @media screen and (max-width: 600px) {
    button {
      transform: scale(1.0);
    }
  }
}


.btn-scale {
  button {
    transform: scale(1.4);
  }

  @media screen and (max-width: 600px) {
    button {
      transform: scale(1.0);
    }
  }

  @media screen and (max-width: 400px) {
    button {
      transform: scale(0.8);
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 10px; // More space on large screens
  }
}

.mx-2 {
  @media screen and (max-width: 600px) {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}

.toggle-btn-scale {
  transform: scale(1.2);
  margin: 3%;

  @media screen and (orientation: portrait) {
    button {
      padding-top: 3px;
      transform: scale(0.6);
      margin: 0.5%;
    }
  }
}

/*
 * Customize the color of the mat-buttons
 *
 * `.mat-button-toggle-checked`
 *     This class is present when the button is active
 *
 * `#mat-button-toggle-n`
 *     This id is generated by Angular Material
 */
.mat-button-toggle-checked {
  &#mat-button-toggle-1 {
    background-color: #80d8ff88; // = primary
  }

  &#mat-button-toggle-2 {
    background-color: #9c27b088; // = accent
  }

  &#mat-button-toggle-3 {
    background-color: #f4433688; // = warn
  }
}
