// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
$dark-primary: mat.m2-define-palette(mat.$m2-light-blue-palette, A100, A200, A400);
$dark-accent: mat.m2-define-palette(mat.$m2-purple-palette);
$dark-green: mat.m2-define-palette(mat.$m2-green-palette, 500);
$dark-orange: mat.m2-define-palette(mat.$m2-orange-palette, 800);

// The warn palette is optional (defaults to red).
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
    green: $dark-green,
    orange:$dark-orange,
  )
));

//mY second-Theme

$dark-primary2: mat.m2-define-palette(mat.$m2-orange-palette, A700);
$dark-accent2: mat.m2-define-palette(mat.$m2-purple-palette, A100);

// The warn palette is optional (defaults to red).
$dark-warn2: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme2: mat.m2-define-dark-theme((color: (
  primary: $dark-primary2,
  accent: $dark-accent2,
  warn: $dark-warn2,
)));


//mY third-Theme

$dark-primary2: mat.m2-define-palette(mat.$m2-deep-purple-palette, 500);
$dark-complentary2: mat.m2-define-palette(mat.$m2-light-green-palette, 400);
$dark-analogous1: mat.m2-define-palette(mat.$m2-indigo-palette, A400);
$dark-analogous2: mat.m2-define-palette(mat.$m2-purple-palette, A400);
$dark-triadic1: mat.m2-define-palette(mat.$m2-pink-palette, A400);
$dark-triadic2: mat.m2-define-palette(mat.$m2-red-palette, 800);
// The warn palette is optional (defaults to red).
$dark-warn2: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme3: mat.m2-define-dark-theme((color: (
  primary: $dark-primary,
  accent: $dark-accent,
  analogous: $dark-green,
  tradic: $dark-orange,
  warn: $dark-warn,
)));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dark-theme3);

.raised-button-3d, .raised-button-3d-rect {
  transition: all 0.1s ease;
  position: relative;
  top: 0;
  left: 0;

  &:active {
    top: 2px;
    left: 2px;
  }

  &[disabled] {
    box-shadow: none !important;
    top: 0;
    left: 0;
  }
}

.raised-button-3d {
  border-radius: 50% !important;
}

.raised-button-3d-rect {
  border-radius: 4px !important;
}

// Shadow colors based on Material colors
.mat-primary.raised-button-3d, .mat-primary.raised-button-3d-rect,
.mat-mdc-unelevated-button.mat-primary, .mat-mdc-raised-button.mat-primary, .mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  &.raised-button-3d, &.raised-button-3d-rect {
    box-shadow: 4px 4px rgba(128, 216, 255, 0.6) !important; // A100 light blueish
    &:active {
      box-shadow: 2px 2px rgba(128, 216, 255, 0.6) !important;
    }
  }
}

.mat-accent.raised-button-3d, .mat-accent.raised-button-3d-rect,
.mat-mdc-unelevated-button.mat-accent, .mat-mdc-raised-button.mat-accent, .mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
  &.raised-button-3d, &.raised-button-3d-rect {
    box-shadow: 4px 4px rgba(224, 64, 251, 0.6) !important; // Purple A200
    &:active {
      box-shadow: 2px 2px rgba(224, 64, 251, 0.6) !important;
    }
  }
}

.mat-warn.raised-button-3d, .mat-warn.raised-button-3d-rect,
.mat-mdc-unelevated-button.mat-warn, .mat-mdc-raised-button.mat-warn, .mat-mdc-fab.mat-warn, .mat-mdc-mini-fab.mat-warn {
  &.raised-button-3d, &.raised-button-3d-rect {
    box-shadow: 4px 4px rgba(255, 82, 82, 0.6) !important; // Red A200
    &:active {
      box-shadow: 2px 2px rgba(255, 82, 82, 0.6) !important;
    }
  }
}
