<div class="container">
  <div class="m-1 p-3 border border-light">
    <div class="d-flex justify-content-center mt-3">
      <mat-card class="m-1">
        <mat-card-subtitle>
          Remaining Throws {{ currentPlayerService._remainingThrows }} / {{ maxRemainingThrows }} <br>
          Current Average: {{currentPlayerService._averagePoints}}
        </mat-card-subtitle>
        <mat-card-title>
          {{currentPlayerService._currentPlayer.name}}:
          {{currentPlayerService._remainingPoints}}</mat-card-title>
        <br>
        Round
        {{currentPlayerService._rounds}} of 45
      </mat-card>
      <mat-card class="m-1">
        <mat-card-subtitle>
          Last 3 of <br> {{currentPlayerService._currentPlayer.name}}:
        </mat-card-subtitle>
        <mat-card-title>
          <div *ngFor="let last of getLastThreeOfHistory()">
            {{last}}
          </div>
        </mat-card-title>
      </mat-card>
    </div>
    <mat-progress-bar color="warn" mode="determinate" [value]='getDartCount()'></mat-progress-bar>
  </div>
</div>