<div class="m-1 border border-lightrounded">
  <div class="d-flex flex-row justify-content-between">
    <div class="m-2 w-50 justify-content-center">
      <mat-card class="matcardpointer justify-content-center maxHight"
                (click)="currentPlayerService.showHistory()">
        <mat-card-title class="flex-column">
          <div> {{ currentPlayerService._currentPlayer.value.name }}
          </div>
          <h2> {{ this.currentPlayerService._remainingPointsToDisplay }}
          </h2>
          <div> ⌀ {{ currentPlayerService._currentPlayer.value.average }}
          </div>
          ➶
          <div *ngFor="let hit of currentPlayerService.getLastThreeThrows(), let i = index"
               class="d-inline-flex">
            <mat-card class="pb-0 pt-0 mt-0 mb-0 me-1 pe-1 ps-1 ms-1">
              {{ hit }}
            </mat-card>
          </div>
        </mat-card-title>
      </mat-card>
    </div>
    <div class="justify-content-center">
      <div class="d-flex flex-column ps-3 pb-3 pt-2">
        <button
          [color]="(currentPlayerService._remainingThrows >= 3) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer"
        ><span>➶</span>
        </button>
        <button
          [color]="(currentPlayerService._remainingThrows >= 2) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer"
        ><span>➶</span>
        </button>
        <button
          [color]="(currentPlayerService._remainingThrows >= 1) ? getProgressColor() : 'gray'"
          mat-mini-fab
          class="no-pointer"
        ><span>➶</span>
        </button>
      </div>
      <div>
        <p class="fs-6 text-nowrap">⟳ {{ roundCountService.roundCount }} / {{ roundCountService.MAX_ROUND_COUNT }}</p>
      </div>
    </div>
    <div class="m-2 w-25 justify-content-end">
      <app-scoreboard-overview></app-scoreboard-overview>
    </div>
  </div>
</div>

