<mat-toolbar class="d-flex justify-content-between">
  <button mat-icon-button color="accent" class="font-size-20" [matMenuTriggerFor]="menueItmes">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menueItmes="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>arrow_back</mat-icon>
      Main Menu
    </button>
    <button mat-menu-item (click)="localInstall()" [hidden]="installBtnHidden">
      <mat-icon>install_mobile</mat-icon>
      Install App
    </button>
    <button mat-menu-item (click)="fullscreenService.toggleTabFullScreenModeMenue()">
      <mat-icon>fullscreen</mat-icon>
      Fullscreen
    </button>
    <button mat-menu-item (click)="undoLastAction()">
      <mat-icon>undo</mat-icon>
      reset last round
    </button>
    <button mat-menu-item (click)="setNextPlayerAsFirst()" [disabled]="!canChangeFirstPlayer">
      <mat-icon>swap_vert</mat-icon>
      change first player
    </button>
    <p mat-menu-item>
      <mat-slide-toggle #drunktoggle [checked]="this.drunkModeService.isDrunkModeOn.value"
                        (change)="setDrunkMode(drunktoggle.checked)">drunk-mode
      </mat-slide-toggle>
    </p>
    <p mat-menu-item>
      <mat-slide-toggle #soundtoggle [checked]="this.soundToggleService.isSoundOn.value"
                        (change)="setSoundMode(soundtoggle.checked)">sounds
      </mat-slide-toggle>
    </p>
    <!-- <button mat-menu-item routerLink="/">Statistics</button> -->
  </mat-menu>
  <div>
    @if (this.dartService._gameType !== '' || this.cricketService._gameType !== '') {
      <button mat-mini-fab class="ms-3 question-scale"
              matRipple [matRippleColor]="customRipple.rippleColor" [matRippleUnbounded]="true"
              [matRippleRadius]="customRipple.rippleRadius"
              (click)="openGameInstructions()"
      ><span class="mt-2 material-symbols-outlined">question_mark</span>
      </button>
    }
    @if (drunkModeService.isDrunkModeOn.value) {
      <mat-icon [matTooltip]="'Bist du betrunken,musst du gerückt halten ^^'" color="accent">local_bar</mat-icon>
    }
    @if (soundToggleService.isSoundOn.value) {
      <mat-icon [matTooltip]="'Spielsound ist aktiv'" color="accent">volume_up</mat-icon>
    }
  </div>
  <div class="d-flex">
    <code>DartBoard </code>
    <div [ngStyle]="{'font-size': 50+'%','color': '#3d6065'}" class="d-flex justify-content-xxl-end">
      <mat-icon>linear_scale</mat-icon>
      v: {{ appVersion }}
    </div>
  </div>
</mat-toolbar>
