.multiplier-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn-group {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: rgba(33, 33, 33, 0.8);
}

.mat-button-toggle {
  width: 4rem; /* Einheitliche Breite */
  height: 4.5rem; /* Einheitliche Höhe */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button-toggle-checked {
  &.toggle1-color {
    background-color: #80d8ff88 !important;
  }

  &.toggle2-color {
    background-color: #9c27b088 !important;
  }

  &.toggle3-color {
    background-color: #f4433688 !important;
  }
}
