<mat-toolbar class="justify-content-between">
  <button mat-button color="accent" class="font-size-20" [matMenuTriggerFor]="menueItmes">Dart Board</button>
  <mat-menu #menueItmes="matMenu">
    <!-- <button mat-menu-item routerLink="/">Statistics</button> -->
    <button mat-menu-item routerLink="">Game-Selection</button>
  </mat-menu>
  <button mat-icon-button (click)="localInstall()" [hidden]="installBtnHidden">
    <mat-icon>install_mobile</mat-icon>
  </button>
  <div [ngStyle]="{'font-size': 80+'%','color': '#3d6065'}" class="p-3 d-flex justify-content-xxl-end">
    <mat-icon>linear_scale</mat-icon>
    <span class="ms-1">appversion: {{ appVersion }}</span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
