<div class="container-sm mt-3">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" (reset)="onReset($event)">

    <h4>What type of game?</h4>
    <div class="d-flex flex-row justify-content-between">
      <mat-form-field appearance="fill">
        <mat-label class="text">Game Type</mat-label>
        <mat-select formControlName="gameType">
          <mat-option [value]="gameType.Simple501">501</mat-option>
          <mat-option [value]="gameType.DoubleOut501">501 (Double Out)</mat-option>
          <mat-option [value]="gameType.Cricket">Cricket</mat-option>
          <mat-option [value]="gameType.Elimination">Elimination</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-flex py-2 px-2">
        <button mat-raised-button color="accent" type="submit">Start</button>
        <button mat-raised-button class="ms-2" type="reset">Reset</button>
      </div>
    </div>
    <h4>Who is playing?</h4>
    <div formArrayName="playerNames">
      <div *ngFor="let playerName of playerNames.controls; let i=index">
        <mat-form-field appearance="fill">
          <mat-label>Player {{ i + 1 }}</mat-label>
          <input matInput id="playerName-{{ i }}" type="text" [formControlName]="i" value="{{playerName}}">
        </mat-form-field>
        <button mat-flat-button class="ms-2" type="button" (click)="removePlayerName(i)">Remove</button>
      </div>
      <button mat-raised-button color="accent" type="button" (click)="addPlayerName()"> + Add Player</button>
    </div>
  </form>
</div>
