<div [hidden]="this.cricketService._hideAll" class="container">

  <div class="d-flex flex-row pt-2 mt-3 w-100">
    <mat-button-toggle-group class="toggle-group-scale align-items-center m-auto" value="1"
                             [formControl]="multiplierControl"
                             (change)="changeButtonColor($event)"
                             [hideSingleSelectionIndicator]="true">
      <mat-button-toggle #singelToggel value="1">Single</mat-button-toggle>
      <mat-button-toggle value="2">Double</mat-button-toggle>
      <mat-button-toggle value="3">Triple</mat-button-toggle>
    </mat-button-toggle-group>

  </div>

  <div class="input-btn-scale">
    <div class="d-flex flex-row flex-wrap justify-content-evenly">
      <div class="d-flex flex-row justify-content-center mt-2"
           *ngFor="let btnValue of availableButtonValuesUnitl17"
      >
        <div class="d-flex flex-column">
          <button [disabled]="isClosed(btnValue)" mat-raised-button class="ms-1 justify-content-center no-pointer fs-3"
                  [color]="'accent'"
          >{{ getBadgeCountValue(btnValue) }}
          </button>
          <button [disabled]="isClosed(btnValue)" class="ms-2 mt-2 {{this.isScorable(btnValue)? '' : border}}" mat-fab
                  [color]="buttonColor"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="scoreHit(btnValue, singelToggel)"
                  appShapeMorph
          >{{ btnValue }}
          </button>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-2"
      >
        <div class="d-flex flex-column">
          <button [disabled]="isClosed(25)" mat-raised-button class="ms-1 justify-content-center no-pointer fs-3"
                  [color]="'accent'"
          >{{ getBadgeCountValue(25) }}
          </button>
          <button [disabled]="isClosed(25)" class="ms-2 mt-2 {{this.isScorable(25)? '' : border}}" mat-fab
                  color="accent"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="scoreBull()"
                  appShapeMorph
          >
            <span class="mt-2 material-symbols-outlined">trip_origin</span>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-evenly">
      <div class="d-flex flex-row justify-content-center mt-2"
           *ngFor="let btnValue of availableButtonValuesUnitl20"
      >
        <div class="d-flex flex-column">
          <button [disabled]="isClosed(btnValue)" mat-raised-button class="ms-1 justify-content-center no-pointer fs-3"
                  [color]="'accent'"
          >{{ getBadgeCountValue(btnValue) }}
          </button>
          <button [disabled]="isClosed(btnValue)" class="ms-2 mt-2  {{this.isScorable(btnValue)? '' : border}}" mat-fab
                  [color]="buttonColor"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="scoreHit(btnValue, singelToggel)"
                  appShapeMorph
          >{{ btnValue }}
          </button>
        </div>

      </div>
      <div class="d-flex flex-row justify-content-center mt-2"
      >
        <div class="d-flex flex-column">
          <button [disabled]="isClosed(25)" mat-raised-button
                  class="ms-1 justify-content-center no-pointer fs-3"
                  [color]="'accent'"
          >{{ getBadgeCountValue(25) }}
          </button>
          <button [disabled]="isClosed(25)" class="ms-2 mt-2 {{this.isScorable(25)? '' : border}}" mat-fab
                  color="warn"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="scoreBullsEye()"
                  appShapeMorph
          >
            <span class="mt-2 material-symbols-outlined">target</span>
          </button>
        </div>

      </div>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-between">
      <div class="d-flex flex-row justify-content-center mt-2">
        <div class="d-flex flex-column">
          <button mat-flat-button color="primary"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="cricketOverviewService.showAllPlayerdetails()"
                  appShapeMorph
          > playerlist
          </button>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-2">
        <div class="d-flex flex-column">
          <button mat-fab color="warn" class="miss-scale"
                  matRipple [matRippleColor]="rippleColor" [matRippleUnbounded]="true" [matRippleRadius]="rippelRadius"
                  (click)="scoreMiss()"
                  appShapeMorph
          >
            Nüscht! F**k!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
