html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-global-overlay-wrapper {
  display: grid !important;
  place-items: center !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  padding: 2%;
}

.font-size-20 {
  font-size: 20px;
}

.matcardpointer {
  cursor: pointer;
  text-align: center;
  background-color: green !important;
}

.maxHight {
  max-height: 38% !important;
  overflow: clip;
}

.display-always-on-indicator {
  border: 5px solid orange;
}
