@use '@angular/material' as mat;
// Explosion Animation importieren
@use 'src/app/shared/animation/explosion-animation.scss';


[appShapeMorph] {
  -webkit-touch-callout: none; /* iOS Safari: kein Callout bei Long-Press */
  -webkit-user-select: none; /* iOS Safari: keine Textauswahl */
  user-select: none; /* übrige Browser */
  touch-action: manipulation; /* verhindert Doppeltipp-Zoom/optimiert Touch */
}

/* Do not disable selection for inputs and editable fields */
input, textarea, [contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

.toggle1-color {
  @include mat.button-toggle-overrides((
    selected-state-background-color: #80d8ff88,
  ));
}

.toggle2-color {
  @include mat.button-toggle-overrides((
    selected-state-background-color: #9c27b088,
  ));
}

.toggle3-color {
  @include mat.button-toggle-overrides((
    selected-state-background-color: #f4433688,
  ));
}


html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  padding: 2%;
}

.font-size-20 {
  font-size: 20px;
}

.matcardpointer {
  cursor: pointer;
  text-align: center;
  background-color: green !important;
}

.maxHight {
  padding-top: 0;
  @media (orientation: landscape) {
    overflow: clip;
    max-height: 38vh;
  }
  @media (orientation: portrait) {
    overflow: clip;
  }
}

.display-always-on-indicator {
  border: 5px solid orange;
}

.no-pointer {
  pointer-events: none;
  cursor: none;
}

.app-shape-morph-snack {

  .mdc-snackbar__surface {
    background-color: #424242 !important;
    color: #000 !important;
  }

  .mdc-snackbar__label, .mdc-button__label {
    color: #000 !important;
  }

  .mdc-button {
    background-color: #9c27b0 !important;
  }

  /* Ensure the shape-morph snack is top-centered */
  .mat-mdc-snack-bar-container.app-shape-morph-snack {
    margin: 0 auto !important; /* center horizontally */
  }

  /* Make sure top position class takes effect */
  .mat-mdc-snack-bar-top.app-shape-morph-snack {
    top: auto !important;
  }
}

.toggle-group-scale {
  transform: scale(1.5);

  @media screen and (orientation: portrait) {
    transform: scale(1.0);
  }
}


.game-layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.btn-scale {
  button {
    transform: scale(1.4);
  }

  @media screen and (max-width: 600px) {
    button {
      transform: scale(1.0);
    }
  }

  @media screen and (max-width: 400px) {
    button {
      transform: scale(0.8);
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 1.5rem; // More space on large screens
  }
}
