<div class="d-flex flex-column">
  <mat-progress-bar [color]="'accent'" [value]="(timeLeft -1 )*33"></mat-progress-bar>
  @if (this.cricketService._gameType === '') {
    <h3><strong>NEXT Player: {{ this.nextPlayer.name }}</strong></h3>
    <h5>
      {{ this.currentPlayerService._lastTurnHits }} = {{ this.currentPlayerService._lastTurnSum }}
    </h5>
    <div class="d-flex flex-column">
      <app-mini-player-overview></app-mini-player-overview>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <p class="p-1">...closes in {{ this.timeLeft - 1 }}s</p>
      <button mat-raised-button color="accent" (click)="this.snackBarRef.dismiss()">OK</button>
    </div>
  } @else {
    <h3><strong>NEXT Player: {{ this.nextPlayer.name }}</strong></h3>
    <h5>
      Points: {{ this.nextPlayer.remainingPoints }}
    </h5>
    <div class="d-flex flex-column">
      <app-mini-player-overview></app-mini-player-overview>
    </div>
    <div class="d-flex flex-row justify-content-between pt-2">
      <p class="p-1">...closes in {{ this.timeLeft - 1 }}s</p>
      <button mat-raised-button color="accent" (click)="this.snackBarRef.dismiss()">OK</button>
    </div>
  }
</div>
